* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f5ebfa;

}

.conttenedor-principal {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.container {
    box-shadow: 2px 2px 8px 8px rgb(116, 105, 182, 0.1);
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    

}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    cursor: pointer;
    background-color: #7469B6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #AD88C6;
    padding: 11px 21px;
       

}